* {
  box-sizing: border-box;
  font-family: Arial;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}

::selection {
  background: #fa08;
  color: #000;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}




body {
  background: linear-gradient(0deg,#b18753,#dc8a8a);
  background-size: cover;
  margin: 0;
  overflow: hidden;
}


nav.navBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  padding: 5px;
  background: linear-gradient(90deg,#9e7db0,#eb8080);
  --Blur: 5px;
  --Spread: 4px;
  box-shadow: #0009
              0px 0px
              var(--Blur) var(--Spread)
  ;
  user-select: none;
  
  position: relative;
  z-index: 9;
}


nav > * {
  display: inline-block;
}

nav .left {
  padding: 0.3vh 2vh;

  border-radius: 10px;
  border: solid transparent 0.4vh;
  cursor: pointer;

  --t: 0.5s;
  transition: background var(--t),
              border     var(--t);
  height: 100%;
}

nav .left:hover {
  background: #e07474;
  border: solid #333 0.4vh;
}


nav .home {
  height: 100%;
}

nav .right {
/*   float: right; */
  height: 100%;
}

nav .user {
  width: fit-content;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center; /* Alineamiento Vertical */
}

nav .user .name {
  margin-right: 10px;

  color: #fff;
  cursor: pointer;
}

nav .user .icon {
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  cursor: pointer;
}






:root {
  /* Ancho de referencia con el panel lateral abierto */
  --mainContentDefaultWidth: 80%;
  /* Abreviación de la variable */
  --mCDW: var(--mainContentDefaultWidth);

  /* Ancho por defecto del contenido
  que se vuelve dinámico a traves del estilo
  en linea en el contenedor "main"
  para ajustarlo a la vez que se
  posiciona el panel lateral */
  --mainContentWidth: var(--mCDW);

  /* El ancho del panel lateral es lo que sobra
  del ancho de contenedor "content" */
  --mainPanelLeftWidth: calc(100% - var(--mCDW));
}


.main,
.content {
  min-height: 90vh;
}


.main > .panelLeft {
  width: var(--mainPanelLeftWidth);
  height: 90%;
  overflow: auto;
  position: absolute;

  /* Posicionamiento dinámico del panel lateral según
  el espacio que ocupe el contenedor "content" */

  /* (Ancho de Referencia) - (Ancho Dinámico) */
  /* para dezplazar a la izquierda el menu según aumente
  el ancho del contenedor "content" */
  left: calc(var(--mCDW) - var(--mainContentWidth));
  z-index: 999;
  background: linear-gradient(0deg,#7b5a90,#bf6985);
  --Blur: 3px;
  --Spread: 2px;
  box-shadow: #000
              0px 4px
              var(--Blur) var(--Spread);
  transition: left 0.5s,
              width 0.5s
  ;

  user-select: none;
}

/* Caja invisible que proporciona el espacio físico del menu real
de arriba debido a su posicionamiento 'Fixed' */
.main .panelLeftFake {
  width: calc(100% - var(--mainContentWidth));
  /* Altura 0 para que el contenedor "content"
  no se vaya para abajo */
  height: 0;
  display: inline-block;
  opacity: 0;
  transition: width 0.5s;
}

.itemPanel {
  width: 90%;
  text-align: center;
  margin: 2vh auto;
  padding: 1rem 1vh;

  background: linear-gradient(90deg,#31b3e0,#b400ff);
  color: #fff;
  border-radius: 10px;
  box-shadow: #0009 0 0 5px 0;

  user-select: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;

  transition:  box-shadow 0.2s,
               color 0.2s,
               text-shadow 0.2s
  ;
}

.itemPanel:hover {
  background: linear-gradient(-90deg,#e0dc31,#56ff00);
  box-shadow: #000 0 0 20px 5px;
  color: #000;
}

.itemPanel:active {
  background: linear-gradient(-90deg,#7d7c29,#396523);
  box-shadow: #000 0 0 20px 5px,
              inset #fff 0 0 10px 0
  ;
  color: #000;
  text-shadow: 0 0 10px #fff,
               0 0 10px #fff,
               0 0 10px #fff
  ;
}


.main > .content {
  width: var(--mainContentWidth);
  max-height: 90vh;
  display: inline-block;
  padding: 1%;
  overflow: auto;

  transition: width 0.5s,
              filter 0.5s
  ;
}




/*************************/

/* Botón que modifica el estado del panel lateral */

input.toggleInput {
  display: none;
}

.panelLeftToggle {
  cursor: pointer;
}

input#panelLeftToggle:checked ~ .main {
  --mainContentWidth: 100%;
}



.precio {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  
  top: 0;
  left: 0;
  
  padding: 0.4rem;
  background: #555c;
  color: #fff;
  background-clip: content-box;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  
  opacity: 0;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  user-select: none;
  transition: opacity 0.3s, background 0.3s, color 0.3s;  
}

.precio:hover {
  opacity: 1;
}

.precio:active {
  background: #fffc;
  color: #000;
  background-clip: content-box;
}

a {
  -webkit-user-drag: none;
}


@media (max-width: 1050px) {
  :root {
    --mainContentWidth: 100%;
  }

  input#panelLeftToggle:checked ~ .main {
    --mainContentWidth: 80%;
  }
}

/*************************/





.LIC {
  display: flex;
  flex-wrap: wrap;
  user-select: none;
}

.CIL {
  width: 22%;
  aspect-ratio: 16/9;
  margin: 1.5%;
  padding: 0.4rem;

  --radius: calc(1vw + 1vh);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  background: #000;
  box-shadow: #fff 0 0 10px 0;

  user-select: none;
  overflow: hidden;
  position: relative;
}

.CIL .thumbnail {
  width: 100%;
  height: 100%;

  --radius: calc(1vw + 1vh);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);

  object-fit: cover;
}

.panelLeft:hover ~ .content {
  filter: blur(3px);
}




/* Adaptación del Panel Lateral en movil */
@media (orientation: portrait),
       (max-width: 1050px) {

  .main > .content {
    width: 100% !important;
  }

  .main > .panelLeft {
    --mobilePanelWidth: 90;
    width: calc(var(--mobilePanelWidth) * 1%) !important;

    left: calc( /* Conversión que hace que se le reste al 'left' del 'Panel Lateral' 90% en lugar de '20%' que es el valor para la versión de Escritorio */
      ( var(--mCDW) - var(--mainContentWidth) ) * ( var(--mobilePanelWidth) / (100 - var(--mobilePanelWidth)) )
    ) !important;
  }

  .main > .panelLeftFake {
    width: 0 !important;
  }

  .CIL {
    width: 47%;
  }

}


::-webkit-scrollbar {
  width: 12px;
  height: 10px;
  background: #33202f;
  box-shadow: inset #614649 0 0 5px 0px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #a87daa;
  border: solid #574358 1px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #754a77;
  border: solid #574358 1px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:active {
  background: #643966;
  border: solid #685469 1px;
  border-radius: 10px;
  box-shadow: inset #000 0 0 5px 0;
}

::-webkit-scrollbar-corner {
  background: #643966;
}

/* Mozilla */
* {
  scrollbar-color: #a87daa #33202f;
  scrollbar-width: thin;
}






@media (prefers-color-scheme: dark) {
  body {
    background: linear-gradient(0deg,#1b1b1b,#1c1733);
  }
  
  
  nav.navBar {
    background: linear-gradient(90deg,#211c2b,#262a42);
  }
  
  nav .left {
    border: solid transparent 0.4vh;
  }
  
  nav .left:hover {
    background: #41385d;
    border: solid #000 0.4vh;
  }
  
  nav .user .name {  
    color: #fff;
  }
  
  .main > .panelLeft {
    background: linear-gradient(0deg,#101010,#0c1023);
    box-shadow: #000
                0px 4px
                var(--Blur) var(--Spread);
  }

  .itemPanel {
    background: linear-gradient(90deg,#0e3854,#3d1e50);
    color: #fff;
    box-shadow: #0009 0 0 5px 0;
  }
  
  .itemPanel:hover {
    background: linear-gradient(-90deg,#8531d0,#3a3942);
    box-shadow: #fff9 0 0 11px 1px;
    color: #000;
  }
  
  .itemPanel:active {
    background: linear-gradient(-90deg,#4d1a7b,#212025);
    box-shadow: #000 0 0 20px 5px,
                inset #fff 0 0 10px 0;
    color: #000;
    text-shadow: 0 0 10px #fff,
                 0 0 10px #fff,
                 0 0 10px #fff;
  }
  
  .CIL {
    background: #000;
    box-shadow: #fff 0 0 10px 0;  
  }
  
  
  ::-webkit-scrollbar {
      background: #0e0a1d;
      box-shadow: inset #4c3182 0 0 5px 0px;
  }
  
  ::-webkit-scrollbar-thumb {
      background: #281d4a;
      border: solid #000 1px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
      background: #4a1a65;
      border: solid #0f0025 1px;
  }
  
  ::-webkit-scrollbar-thumb:active {
      background: #411179;
      border: solid #0f0025 1px;
      box-shadow: inset #4e4dc3 0 0 5px 0;
  }
  
  ::-webkit-scrollbar-corner {
      background: #281d4a;
  }
  
  
  /* Mozilla */
  * {
    scrollbar-color: #281d4a #0e0a1d;
    scrollbar-width: thin;
  }
  
}
