* {
  box-sizing: border-box;
  font-family: Arial;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}

::selection {
  background: #fa08;
  color: #000;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}


html,
body {
  height: 100%;
  background: #333;
}

body {
  background: linear-gradient(0deg,#b18753,#dc8a8a);
  background-size: cover;
  margin: 0;
  overflow: hidden;
}

.main {
  height: 100%;
  position: relative;
  font-size: calc(0.5vw + 2vh);
}

.box {
  width: 50%;
  height: calc(45% + 100px);
  background: linear-gradient(0deg,#538eb1,#6dca18);
  border-radius: 10px;
  padding: 3vh;
  border: solid;
  overflow: auto;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.block {
  display: inline-block;
  width: 46%;
  margin: 2%;
}

.block._1 {
  float: left;
}

label {
  display: block;
  margin-top: 2%;
  color: #fff;
}

input {
  display: block;
  width: 100%;
  padding: 2% 7%;
  border-radius: 20px;
  border: solid #fff 3px;
  background: #d23169;
  color: #fff;
  font-size: calc(0.5vw + 1.5vh);
  transition: 0.2s;
}

input:is([type="text"], [type="number"]):focus {
  background: #643575;
}

input[type="submit"] {
  background: #c56e22;
  width: 50%;
  cursor: pointer;
  margin: auto;
  margin-top: 3%;
  box-shadow: #000 0 0 5px 0;
  transition: 0.2s;
}

input[type="submit"]:hover {
  background: #ff4b00;
  box-shadow: #000 0 0 15px 0;
}

input[type="submit"]:active {
  background: #f00;
  box-shadow: #000 0 0 30px 5px,
              inset #000 0 0 2vw 0
  ;
}



@media (orientation: portrait),
       (max-width: 800px) {
  .box {
    width: 90%;
    height: 80%;
    font-size: 1.5rem;
    padding-top: 1%;
  }

  input {
    font-size: 1.5rem
  }

  .block {
    display: block;
    width: 96%;
    margin-top: 5%;
    float: none !important;
  }

  input[type="submit"] {
    margin-top: 9%;
    width: 100%;
  }
}
